# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'myconnection0'
    subscriptionId: '2e39dc9c-a38f-475c-aa16-dfb68153287b'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'prueba123'
    location: 'westeurope'
    templateLocation: 'Linked artifact'
    csmFile: 'https://github.com/jlopezpa/azure-quickstart-templates/blob/main/managementgroup-deployments/create-subscription-resourcegroup/azuredeploy.json'
    csmParametersFile: 'https://github.com/jlopezpa/azure-quickstart-templates/blob/main/managementgroup-deployments/create-subscription-resourcegroup/azuredeploy.parameters.json'
    deploymentMode: 'Incremental'
